.custom-link {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  hr {
    display: none;
  }
  
  nav {
    display: flex;
    padding: 10px 50px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    height: 70px;
    margin-bottom: 25px;
}

.sign-in2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: 600;
    color: black;
}


/* lg */
@media (max-width: 1024px) {
  .logo-1 {
    width: 120px;
  }

  .sign-in2 {
    gap: 10px;
  }

  .sign-in2 p {
    font-size: 16px;
  }

  .sign-in2 img {
    width: 23px;
    height: 23px;
  }
}

/* md */
@media (max-width: 768px) {

  .logo-1 {
    display: flex;
  }

}

/* xs */
@media (max-width: 475px) {

nav {
  gap: 30px;
  padding: 10px 0 10px 60px;
  justify-content: center;
  margin-top: 50px;
}

.navbar {
  gap: 30px;
  padding: 10px 0 10px 60px;
  justify-content: center;
  margin-top: 50px;
}

hr {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  display: flex;
  color: black;
  background-color: rgb(0, 0, 0);
  border: none;
  width: 350px;
  height: 3px;
}

.logo-1 {
  position: absolute;
  width: 120px;
  margin: 0;
  z-index: 999;
  right: 33.3%;
  top: 19px;
}

.sign-in2 {
  gap: 10px;
  margin-right: 0px;
}

.sign-in2 p {
  font-size: 11px;
}

.sign-in2 img {
  width: 20px;
  height: 20px;
}

}



@media (max-width: 370px) {
  .sign-in2 {
    gap: 12px;
    margin-right: -35px;
  }

  .sign-in2 p {
    font-size: 9px;
  }

  .sign-in2 img {
    width: 18px;
    height: 18px;
  }

}






