/* 2xl */
@media (max-width: 1536px) {
    .heading {
        font-size: 36px;
        color: black;
        font-weight: 800;
        margin: 50px 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .see-more {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 21px;
        font-weight: 500;
        color: rgba(184, 0, 0, 0.781);
        cursor: pointer;
    }

    .see-more img {
        width: 24px;
    }
    
    .padder {
        padding: 0px 30px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .heading {
        margin-left: 110px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .heading {
        display: block;
    }

    .popular {
        text-align: center;
        margin-bottom: 10px;
    }
}

/* sm */
@media (max-width: 640px) {
    .heading {
        margin-left: 25%
    }
}

/* xs */
@media (max-width: 475px) {
    .popular {
        font-size: 21px;
        margin-bottom: 20px;
    }

    .see-more {
        font-size: 18px;
    }

    .see-more img{
        width: 20px;
    }
}